@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;
    --color-secondary: #6b7280;
    --color-secondary-hover: #4b5563;
    --color-background: #ffffff;
    --color-background-secondary: #f3f4f6;
    --color-text: #171717;
    --color-text-secondary: #6b7280;
    --color-border: #e5e7eb;
    --color-error: #dc2626;
    --color-success: #16a34a;
  }

  :root[class~="dark"] {
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;
    --color-secondary: #9ca3af;
    --color-secondary-hover: #6b7280;
    --color-background: #0a0a0a;
    --color-background-secondary: #18181b;
    --color-text: #f3f4f6;
    --color-text-secondary: #9ca3af;
    --color-border: #27272a;
    --color-error: #ef4444;
    --color-success: #22c55e;
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
